html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: inherit;
}

a:focus {
  outline: 2px solid @primary-color;

  @supports (--color: green) {
    outline-color: var(--rd-primary-color, @primary-color);
  }
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 320px;

  background-color: @body-bg;

  @supports (--color: green) {
    background-color: var(--rd-body-bg, @body-bg);
  }
}

.page_wrapper {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  justify-content: center;

  padding: 30px;

  @media (max-width: 719px) {
    padding: 10px;
  }
}

.resume {
  max-width: 21cm;
  width: 100%;
  min-height: 29.68cm;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;

  hyphens: auto;

  background-color: @resume-bg;
  box-shadow: rgba(60, 64, 67, 0.15) 0 1px 3px 1px;

  @supports (--color: green) {
    background-color: var(--rd-resume-bg, @resume-bg);
  }
}

.row {
  margin-bottom: 30px;
}

.img_holder {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

.experience__company {
  font-weight: 700;
}

.experience__position {
  font-weight: 300;
}

.experience__period {
  font-style: italic;
}

dt {
  font-weight: 700;
}

dd:not(:last-of-type) {
  margin-bottom: 10px;
}

.download {
  display: block;
  height: 50px;
  padding: 0 12px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  border-radius: 30px;
  background-color: @primary-color;
  color: @text-color;

  @media (any-hover: hover) {
    &:hover {
      animation: pulse 2s infinite;
    }
  }

  @supports (--color: green) {
    background-color: var(--rd-primary-color, @primary-color);
  }
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 5px rgba(#000, 0.2);
  }
}

@media print,
(min-width: 720px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 48%;
  }

  .list li {
    position: relative;
  }

  .tal {
    text-align: left;

    .list {
      padding-left: 30px;

      li:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 50%;
        background-color: @text-color;

        @supports (--color: green) {
          background-color: var(--rd-text-color, @text-color);
        }
      }
    }
  }

  .tar {
    text-align: right;

    .list {
      padding-right: 30px;

      li:after {
        content: '';
        position: absolute;
        top: 10px;
        right: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-right: -2px;
        border-radius: 50%;
        background-color: @text-color;

        @supports (--color: green) {
          background-color: var(--rd-text-color, @text-color);
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .download:before {
    content: 'download ';
  }

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 719px) {
  .container--full_name {
    text-align: center;
  }

  .list {
    padding-left: 30px;

    li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 50%;
        background-color: @text-color;

        @supports (--color: green) {
          background-color: var(--rd-text-color, @text-color);
        }
      }
    }

  }
}

@media print {
  .page_wrapper {
    padding: 0;
  }

  .resume {
    width: 21cm;
    height: 29.68cm;
    margin: 10px 10px 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    page-break-after: auto;
    overflow: hidden;
    box-shadow: none;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: inline-flex;
  }

  a[href^="http"]:before {
    content: 'http://';
  }

  a[href^="https"]:before {
    content: 'https://';
  }

  a[href$=".com/"]:after {
    content: '.com';
  }

  .download {
    display: none;
  }
}
