<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ description }}">
<meta name="author" content="{{ fullName }}">

<link rel="preload" as="style" href="./css/index.css">

{% include "./_og.njk" %}

{% include "./_favicon.njk" %}

<link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="./css/index.css">
