<meta property="og:title" content="{{ fullName }}"/>
<meta property="og:type" content="profile"/>
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://dyaroman.com/images/{{ fullName | lower | replace(" ", "_") }}.jpg"/>
<meta property="og:url" content="https://dyaroman.com/"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:locale:alternate" content="ru_UA"/>
<meta property="profile:first_name" content="{{ firstName }}"/>
<meta property="profile:last_name" content="{{ lastName }}"/>
<meta property="profile:username" content="{{ username }}"/>
<meta property="og:image:width" content="250">
<meta property="og:image:height" content="250">
<meta property="og:site_name" content="{{ fullName }}"/>
